@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9709 0.0045 78.2981);
  --foreground: oklch(0.3069 0.0242 47.9138);
  --card: oklch(0.9565 0.0131 82.4019);
  --card-foreground: oklch(0.3069 0.0242 47.9138);
  --popover: oklch(0.9565 0.0131 82.4019);
  --popover-foreground: oklch(0.3069 0.0242 47.9138);
  --primary: oklch(0.5977 0.1523 51.1399);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8367 0.0714 70.0694);
  --secondary-foreground: oklch(0.3657 0.029 45.1593);
  --muted: oklch(0.9251 0.0208 67.5672);
  --muted-foreground: oklch(0.4884 0.0211 53.6543);
  --accent: oklch(0.897 0.0593 70.2526);
  --accent-foreground: oklch(0.3657 0.029 45.1593);
  --destructive: oklch(0.4661 0.1678 26.7338);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.5397 0.0205 59.2065);
  --input: oklch(0.5397 0.0205 59.2065);
  --ring: oklch(0.5977 0.1523 51.1399);
  --chart-1: oklch(0.5977 0.1523 51.1399);
  --chart-2: oklch(0.5397 0.0205 59.2065);
  --chart-3: oklch(0.5641 0.1205 68.3287);
  --chart-4: oklch(0.5397 0.0205 59.2065);
  --chart-5: oklch(0.6783 0.1487 66.2103);
  --sidebar: oklch(0.9251 0.0208 67.5672);
  --sidebar-foreground: oklch(0.3069 0.0242 47.9138);
  --sidebar-primary: oklch(0.5977 0.1523 51.1399);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.5641 0.1205 68.3287);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.5397 0.0205 59.2065);
  --sidebar-ring: oklch(0.5977 0.1523 51.1399);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0px;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 2px;
  --shadow-opacity: 1;
  --shadow-color: #452b1f;
  --shadow-2xs: 2px 2px 0px 2px hsl(18.9474 38% 19.6078% / 0.5);
  --shadow-xs: 2px 2px 0px 2px hsl(18.9474 38% 19.6078% / 0.5);
  --shadow-sm:
    2px 2px 0px 2px hsl(18.9474 38% 19.6078% / 1),
    2px 1px 2px 1px hsl(18.9474 38% 19.6078% / 1);
  --shadow:
    2px 2px 0px 2px hsl(18.9474 38% 19.6078% / 1),
    2px 1px 2px 1px hsl(18.9474 38% 19.6078% / 1);
  --shadow-md:
    2px 2px 0px 2px hsl(18.9474 38% 19.6078% / 1),
    2px 2px 4px 1px hsl(18.9474 38% 19.6078% / 1);
  --shadow-lg:
    2px 2px 0px 2px hsl(18.9474 38% 19.6078% / 1),
    2px 4px 6px 1px hsl(18.9474 38% 19.6078% / 1);
  --shadow-xl:
    2px 2px 0px 2px hsl(18.9474 38% 19.6078% / 1),
    2px 8px 10px 1px hsl(18.9474 38% 19.6078% / 1);
  --shadow-2xl: 2px 2px 0px 2px hsl(18.9474 38% 19.6078% / 2.5);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2117 0.0062 56.0333);
  --foreground: oklch(0.9609 0.0013 106.4241);
  --card: oklch(0.267 0.0091 17.7333);
  --card-foreground: oklch(0.9609 0.0013 106.4241);
  --popover: oklch(0.267 0.0091 17.7333);
  --popover-foreground: oklch(0.9609 0.0013 106.4241);
  --primary: oklch(0.7721 0.1727 64.1662);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3657 0.029 45.1593);
  --secondary-foreground: oklch(0.9107 0.0075 80.7202);
  --muted: oklch(0.267 0.0091 17.7333);
  --muted-foreground: oklch(0.7161 0.0091 56.259);
  --accent: oklch(0.3467 0.0731 256.6895);
  --accent-foreground: oklch(0.9107 0.0075 80.7202);
  --destructive: oklch(0.5814 0.2243 27.9512);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3314 0.0113 44.6666);
  --input: oklch(0.3314 0.0113 44.6666);
  --ring: oklch(0.7721 0.1727 64.1662);
  --chart-1: oklch(0.7721 0.1727 64.1662);
  --chart-2: oklch(0.6847 0.1479 237.3225);
  --chart-3: oklch(0.8442 0.1722 84.9338);
  --chart-4: oklch(0.7161 0.0091 56.259);
  --chart-5: oklch(0.5534 0.0116 58.0708);
  --sidebar: oklch(0.267 0.0091 17.7333);
  --sidebar-foreground: oklch(0.9609 0.0013 106.4241);
  --sidebar-primary: oklch(0.7721 0.1727 64.1662);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6847 0.1479 237.3225);
  --sidebar-accent-foreground: oklch(0.2839 0.0734 254.5378);
  --sidebar-border: oklch(0.3314 0.0113 44.6666);
  --sidebar-ring: oklch(0.7721 0.1727 64.1662);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0px;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 2px;
  --shadow-opacity: 1;
  --shadow-color: #0b0a0a;
  --shadow-2xs: 2px 2px 0px 2px hsl(0 4.7619% 4.1176% / 0.5);
  --shadow-xs: 2px 2px 0px 2px hsl(0 4.7619% 4.1176% / 0.5);
  --shadow-sm:
    2px 2px 0px 2px hsl(0 4.7619% 4.1176% / 1),
    2px 1px 2px 1px hsl(0 4.7619% 4.1176% / 1);
  --shadow:
    2px 2px 0px 2px hsl(0 4.7619% 4.1176% / 1),
    2px 1px 2px 1px hsl(0 4.7619% 4.1176% / 1);
  --shadow-md:
    2px 2px 0px 2px hsl(0 4.7619% 4.1176% / 1),
    2px 2px 4px 1px hsl(0 4.7619% 4.1176% / 1);
  --shadow-lg:
    2px 2px 0px 2px hsl(0 4.7619% 4.1176% / 1),
    2px 4px 6px 1px hsl(0 4.7619% 4.1176% / 1);
  --shadow-xl:
    2px 2px 0px 2px hsl(0 4.7619% 4.1176% / 1),
    2px 8px 10px 1px hsl(0 4.7619% 4.1176% / 1);
  --shadow-2xl: 2px 2px 0px 2px hsl(0 4.7619% 4.1176% / 2.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
